$screen-lg: 60rem;
$screen-md: 48rem;
.wrapper {
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  z-index: var(--z-index);
  @media (min-width: $screen-md) {
    margin-top: var(--margin-top-tablet, var(--margin-top));
    margin-bottom: var(--margin-bottom-tablet, var(--margin-bottom));
    margin-left: var(--margin-left-tablet, var(--margin-left));
    margin-right: var(--margin-right-tablet, var(--margin-right));

    padding-top: var(--padding-top-tablet, var(--padding-top));
    padding-bottom: var(--padding-bottom-tablet, var(--padding-bottom));
    padding-left: var(--padding-left-tablet, var(--padding-left));
    padding-right: var(--padding-right-tablet, var(--padding-right));
    font-size: var(--font-size-tablet, var(--font-size));
    color: var(--color-tablet, var(--color));
    font-weight: var(--font-weight-tablet, var(--font-weight));
    z-index: var(--z-index-tablet, var(--z-index));
  }
  @media (min-width: $screen-lg) {
    margin-top: var(--margin-top-pc, var(--margin-top-tablet, var(--margin-top)),);
    margin-bottom: var(--margin-bottom-pc, var(--margin-bottom-tablet, var(--margin-bottom)));
    margin-left: var(--margin-left-pc, var(--margin-left-tablet, var(--margin-left)));
    margin-right: var(--margin-right-pc, var(--margin-right-tablet, var(--margin-right)));

    padding-top: var(--padding-top-pc, var(--padding-top-tablet, var(--padding-top)),);
    padding-bottom: var(--padding-bottom-pc, var(--padding-bottom-tablet, var(--padding-bottom)));
    padding-left: var(--padding-left-pc, var(--padding-left-tablet, var(--padding-left)));
    padding-right: var(--padding-right-pc, var(--padding-right-tablet, var(--padding-right)));
    font-size: var(--font-size-pc, var(--font-size-tablet, var(--font-size)));
    color: var(--color-pc, var(--color-tablet, var(--color)));
    font-weight: var(--font-weight-pc, var(--font-weight-tablet, var(--font-weight)));
    z-index: var(--z-index-pc, var(--z-index-tablet, var(--z-index)));
  }
}
